<footer class="footer bg-dark py-3 mt-auto">
    <!-- mt-auto sẽ khiến cho footer nằm xuống đáy -->
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2021</span>
    </div>
</footer>